@model IEnumerable<VelazquezYahir.Models.Domain.Book>
@{
    Layout = "_LayoutDashboard";
}

<h1 class="text-center my-4">Libros</h1>

<div class="container-fluid">
    <div class="card border shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Lista de libros</h2>
            <a asp-action="Crear" class="btn btn-success">
                <i class="fas fa-plus"></i> Crear Nuevo Libro
            </a>
        </div>
        <div class="card-body">
            @if (Model.Count() > 0)
            {
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
                            <th>@Html.DisplayNameFor(model => model.Autor)</th>
                            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                            <th>@Html.DisplayNameFor(model => model.Img)</th>
                            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Autor)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td><img src="@item.Img" style="width:50px; height:auto;"/></td>
                                <td>@Html.DisplayFor(modelItem => item.Categorias.Nombre)</td>
                                <td>
                                    <a asp-action="Editar" asp-route-id="@item.PkBook" class="btn btn-sm btn-outline-primary me-2">
                                        <i class="bi bi-pencil-square"></i> Editar
                                    </a>
                                    <button data-id="@item.PkBook" class="btn btn-sm btn-outline-danger eliminar-libro">
                                        <i class="bi bi-trash"></i> Eliminar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No hay libros</p>
            }
        </div>
    </div> 
    @* <div class="container-fluid"> *@

    @*     <div class="card border shadow"> *@

    @*         <div class="card-body"> *@
    @*             <form> *@
    @*             <h1>Iniciar Sesion</h1> *@
    @*             <label>Nombre</label> *@
    @*             <input type="text" name="name" value="" class="form-control mb-4" /> *@
    @*             <label>Contraseña</label> *@
    @*             <input type="text" name="contraseña" value="" class="form-control mb-4" /> *@
    @*             <button class="btn btn-outline-primary"> Iniciar sesion</button> *@
    @*             </form> *@
    @*             <span>No tienes una cuenta?</span><a href="#">Crear una cuenta</a> *@
    @*         </div> *@

    @* </div> *@
    @* </div> *@




</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.eliminar-libro').on('click', function () {
                var bookid = $(this).data('id');
                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "No podrás revertir esto.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Sí, deseo borrarlo",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Book/Eliminar/' + bookid,
                            type: 'DELETE',
                          success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        title: "¡Eliminado!",
                                        text: "La categoría ha sido eliminada correctamente.",
                                        icon: "success",
                                        timer: 1500,
                                        showConfirmButton: false
                                    }).then(() => {
                                        location.reload();
                                    });
                                } else {
                                    Swal.fire({
                                        title: "Error",
                                        text: "No se pudo eliminar la categoría",
                                        icon: "error"
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    title: "Error",
                                    text: "Ocurrió un error al procesar la solicitud",
                                    icon: "error"
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
}
